* {
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: rgb(255, 255, 255);
}

body {
    background-color: rgb(184, 252, 252);
}

#sec-one {
    float: left;
    width: 50%;
    margin-left: 27%;
}

#sec-two {
    width: auto;
    margin-top: 240px;
    height: auto;
}

img {
    display: inline-block;
    width: 30%;
    height: 300px;
}

ul {
    width: 100%;
    background-color: cornsilk;
}

li {
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    color: rgb(5, 155, 155);
}

button {
    display: none;
    margin-left: 46%;
}

#btn-remove {
    margin-left: 46%;
    background-color: red;
}

div {
    max-width: 960px;
}

#sec-one img {
    display: inline-block;
    max-width: 200px;
    height: 200px;
    width: 30%;
    margin: 1%;
}